body {
  font-size: 20px;
  color: #fff;
  background-color: #99FF33;
  font-family: Arial, Helvetica, sans-serif;
}
.navbar {
	margin:0px;
	background-color: #33CCFF;
}
.navbar-header {
	padding-bottom: 10px;
}
.navbar-brand {
	
	padding-left: 15px;
}
.navbar-brand  h1 {
    color:  #61122f;
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 0px;
}
.navbar-toggle {
	background:  #ddd;
}
.container {
	color: #444444;
}
.container h2 {
	margin: 0px;
	/*text-align: center;*/
	font-size: 1.5em;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 30px;	
}
.row {	
	/*border:1px solid #000000;*/
	background-color: #CCFF99;
	margin-bottom: 30px;
	margin-left: 0px;
	margin-right: 0px;
}
.menu-item-title {
	text-align: center;
	font-size: 1.2em;
    font-weight: bold;
}
.menu-item-details{
	padding-left:  10px;
	padding-right: 10px;
}
#nav-list {
	margin-top:0;
	margin-bottom: 0;
}
#nav-list li {
	text-align: center;
	background-color: #CCEEFF;
	border-bottom: 1px solid #FFFFBB;
}
/********** Large devices only **********/
@media (min-width: 1200px) {
 .container {
 	width: 100%;
 }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
 .container {
 	width: 100%;
 }
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
 .container {
 	width: 100%;
 }
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
 .container {
 	width: 100%;
 }
}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
/*
@media (max-width: 479px) {

}*/